.footer-main {
    display: grid;
    margin-top: 75px;
    grid-template-columns: 2fr 5fr;
    background-color: #333;
    color: #eee;
    padding: 1.5em;
}

.footer-main h1, h2, h3, h4{
        color: #ecc361;
        font-weight: 200;
        margin: 0;
}
.footer-main h4{
    text-align: right;
}
.footer-main a{
    text-decoration: none;
}
.footer-main p{
    font-family: sans-serif;
    font-weight: 200;
    text-overflow: ellipsis;

}
.footer-main div {
    
    margin: 0.6em;
}

.footer-main img{	/*ALL IMAGES IN FOOTER*/
    width: 100%;
    margin-top: -75px;
}

.footer-main #social-media img { /*EXECPT THESE:0)!*/
    width: 23.65%;
    margin-top: -15px;

}

#footer-text-two {	/*FOOTER TEXT TWO IS HIDDEN*/
    display: none;
}


#social-media {
vertical-align: bottom;
}
h5 span {
    color:rgb(184, 184, 184);
    font-size: 10vw;
    font-family: PlayfairDisplay-regular;
    text-align: center;
    margin-left: 1vw;
}
h5 {
    color: rgb(112, 112, 112);
    font-size: 10vw;
    font-family: PlayfairDisplay-regular;
    text-align: center;
    margin-left: 1vw;
    margin:0;
}