nav ul {
    list-style-type: none;
    margin: 0;
    padding: 1.4vw;
    background-color: rgb(37, 37, 37);
    display: flex;
    justify-content:flex-end;

  }
 nav li a {
    color: white;
    text-decoration: none;
    margin: 3vw;
    padding: 1.4vw;
    position: relative;
    font-family: PlatfairDisplay-Regular;
    font-weight: lighter;
    text-decoration: none;
  }

  nav li a:hover {
    background-color: #111;
  }

.navbar_logo_img {
    width: 3vw;
    position: absolute;
    margin-left: 7vw;
    margin-top: 0.4vw;
}
